/.logging/
/.todo/
/script/main.js
/script/preloader.js
/.placeholder.ico

# Local development
/assets/errors.log
/models/divided/
/models/joined/
/models/array/
/music/
/gui/

# Enstablized source
/script/main/debug/
/script/main/storage/protect.js
