{
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"script/library/",
    "behaviorPacksDir":"assets/behavior/",
    "resourcePacksDir":"assets/resource/"
  },
  "resources":[
    {
      "path":"resource/",
      "resourceType":"resource"
    }
  ],
  "buildDirs":[
    {
      "dir":"script/main/",
      "targetSource":"script/main.js"
    },
    {
      "dir":"script/preloader/",
      "targetSource":"script/preloader.js"
    }
  ],
  "compile":[
    {
      "path":"script/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"script/main.js",
      "sourceType":"mod"
    },
    {
      "path":"script/preloader.js",
      "sourceType":"preloader"
    }
  ],
  "javaDirs":[],
  "nativeDirs":[]
}